
* {
    
    padding: 0;
    margin: 0;
    outline-width: 0;
    /* outline-color: white; */
}

body, html {
    background-color: black !important;
    }
    

header {
    height: 60px;
}

.stickyheader {
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 0px;
    padding-top: 0px;
    background-color: white;
}

h1 {
    background-color: teal;
    color: white;
    font-family: "Roboto", "Monserrat";
    width: 30%;
    height: 50px;
    float: left;
    /* padding-left: 5%; */
    padding-top: 10px;
    margin-left: 10%;
    font-size: 30px;
    font-weight: bold;
}


h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: teal;
    background-color:tan;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: lightgray;
    height: 70px;
}

section {

    background-color: tan !important;
    /* top: 56px; */
}
.wrapper {
    text-align: center;
    /* margin-left:10%;
    margin-right: 10%;
    width: 80%; */
}

.wrapper p {
    text-align: left;
}

.sandyback {
    /* background-image: url("../images/let-there-be-sun.png"); */
    /* background-color: grey; */
    border-top: 10px;
    border-color: black;
    padding-top: 10px;
    padding-bottom: 30px;
}

header nav ul {
    float: right;
    margin-right: 10%;
    margin-top: 20px;
    /* width: 60%; */
}

header nav ul li {
    display: inline;
    padding-top: 20px;

}

header nav ul li a {
    text-decoration: none;
    padding-left: 15px;
    margin-top: 20px;
    font-size: large;
    color: rgb(124, 124, 124);
}

header nav ul li a:hover {
    font-size: larger;
    color: red;
    font-weight: bolder;
}

section {
    width: 80%;
    margin-left: 10%;
    margin-top: 80px;
    top: 80px;
    margin-bottom: 40px;
    background-color: white;
    border-top: 10px;
    border-color: black;
    overflow: hidden;
}

.portfoliocontactsection {
    width: 60%;
    margin-left: 20%;
    text-align: left;
}

section img {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 0;
    border-style: none;
    border-color: white;
    /* top: 50px; */
   
}

section p {
    color: black;
    line-height: 2;
    padding: 0 20px 0 20px;
}

section form {
    padding-left: 20px;
    padding-right: 20px;
    color:black;

}

section form input {
    width: 100%;
}

section form textarea {
    width: 100%;
}

section form label {
    color:black;
}

button {
    background-color: teal;
    height: 30px;
    border: none;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}

footer {
    background-color: grey;
    height: 30px;
    padding-top: 25px;
    font-size: 7px;
    font-weight: lighter;
    color: rgb(192, 202, 202);
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: teal;
}

.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    height: 30px;
    padding-top: 25px;
    font-size: 7px;
    font-weight: lighter;
    color: rgb(192, 202, 202);
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: teal;
    width: 100%;
    background-color: grey;
    text-align: center;
 }

 @media only screen and (max-width: 940px) {
    h1 {
      font-size: smaller !important;
    }
  }

 @media only screen and (max-width: 640px) {
    h1 {
      font-size: xx-large !important;
      width: 300px;
    }
    header nav ul {
        text-align: center;
        float: left;
        margin-left: 20%;
    }
  }
